* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  padding: 50px 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid lightgray;
}

.section:last-of-type {
  border-bottom: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;

  @media (max-width: 1024px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: 640px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.projects {
  margin-bottom: 40px;
}

.projects:last-child {
  margin-bottom: 0;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  padding-left: 0;
  margin: 0;

  list-style-type: none;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.projects__item {
  display: flex;
  flex-direction: column;
  padding: 15px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 15px lightgray;
}

.projects__title {}

.projects__desc {
  margin-bottom: auto;
}

.projects__link {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.projects__link:first-of-type {
  margin-top: 15px;
}

.projects__link::before {
  content: "";
  display: block;
  height: 18px;
  width: 18px;
  flex-shrink: 0;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}

.projects__link--network::before {
  background-image: url("./images/icon-network.png");
}

.projects__link--github::before {
  background-image: url("./images/icon-github.png");
}

.projects__link:last-child {
  margin-bottom: 0;
}

.projects__link:hover {}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding-left: 0;
  margin: 15px 0 0 0;
  list-style-type: none;
}

.skills__item {
  color: white;
  background-color: #595959;
  border-radius: 4px;
  padding: 3px 6px;
  margin-right: 7px;
  margin-bottom: 7px;
}